body {
  background: #191B27;
}

.App {
  text-align: center;
  
}
button {
  width: 100%;
  padding: .5em 1em;
  border-radius: 10px;
  font-size: large;
  font-weight: 700;
  color: white;
  background-color: #18A1BF;
  border: none;
  cursor: pointer;;
}
