nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    height: 75px;
    background: #31354E;
    padding: 0 1em 0 1em;
    color: white;
    font-size: large;
  }
  nav img {
    
    width: 80px;
  }
  
  nav ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 20%;
    list-style: none;
  }
  
  .text-link {
      color: white;
      text-decoration: none;
      font-weight: 700;
  }

  .address {
    padding: .3em .5em;
    border-radius: 10px;
    color: white;
    background-color: #18A1BF;
    border: none;
    
  }